<a href="https://colab.research.google.com/github/ashokreddy606/machine-learning/blob/main/generate_example_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer

def generate_example_dataset():
    data = {
        'passengerId': [1, 2, 3, 4, 5],
        'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
        'age': [22, None, 25, None, 30],
        'Fare': [7.25, 71.28, None, 8.05, 10.5],
        'survived': [0, 1, 1, 0, 1]
    }
    return pd.DataFrame(data)

def clean_dataset(df):
    print("Original Dataset:")
    print(df)


    numeric_df = df.select_dtypes(include="number")


    imputer = SimpleImputer(strategy="mean")
    df_cleaned = pd.DataFrame(imputer.fit_transform(numeric_df), columns=numeric_df.columns)

    print("Cleaned Dataset:")
    print(df_cleaned)


if __name__ == "__main__":
    example_dataset = generate_example_dataset()
    clean_dataset(example_dataset)

Original Dataset:
   passengerId     Name   age   Fare  survived
0            1     John  22.0   7.25         0
1            2     Jane   NaN  71.28         1
2            3      Bob  25.0    NaN         1
3            4    Alice   NaN   8.05         0
4            5  Charlie  30.0  10.50         1
Cleaned Dataset:
   passengerId        age   Fare  survived
0          1.0  22.000000   7.25       0.0
1          2.0  25.666667  71.28       1.0
2          3.0  25.000000  24.27       1.0
3          4.0  25.666667   8.05       0.0
4          5.0  30.000000  10.50       1.0